<%- include('../partials/header') %>

<h2>All Flights</h2>
<table>
<thead>
    <tr>
        <th>Airlines</th>
        <th>Airports</th>
        <th>Flight Number</th>
        <th>Departs</th>
    </tr>
    </thead>
</table>
<tbody>
    <% flights.forEach(function(f) {  %>
    <tr>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<%- include('../partials/footer') %>
