<%- include('../partials/header') %>

<h2>All Flights</h2>
<table>
<thead>
    <tr>
        <th>Pilots</th>
        <th>Pilot Ids</th>
        <th>Flight Attendant</th>
    <   <th>Flight Attendant Ids</th>
    <   <th>No Shows</th>
        <th>Number of Passengers</th>
        <th>Gate</th>
        <th>Flight Crew Gate Time</th>
        <th>Departure</th>
        <th>Destination Airport</th>
        <th>Flight Number</th>
        <th>Aircraft</th>
        <th>On Time</th>
        <th>Delayed</th>
        <th>Air Marshal</th>
        <th>Jumpseats Available</th>
    </tr>
    </thead>
</table>
<tbody>
    <% flights.forEach(function(f) %>
    <tr>
        <td><%= f.pilot %></td>
        <td><%= f.pilotId %></td>
        <td><%= f.flightAttendants %></td>
        <td><%= f.faId %></td>
        <td><%= f.noShows ? 'Yes' : 'Nope' %></td>
        <td><%= f.paxNum %></td>
        <td><%= f.gate %></td>
        <td><%= f.timeGate %></td>
        <td><%= f.departed %></td>
        <td><%= f.departs %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.aircraft %></td>
        <td><%= f.onTime ? 'Yes' : 'Nope' %></td>
        <td><%= f.delayed ? 'Yes' : 'Nope' %></td>
        <td><%= f.airMarshal ? 'Yes' : 'Nope' %></td>
        <td><%= f.jumpseat ? 'Yes' : 'Nope' %></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<%- include('../partials/footer') %>
