<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
  <!-- start ticket list -->
  <div>Ticket:</div>
  <ul>
    <%- flight.ticket.map(t =>
      `<li>${t.name} <small>${t.amount.toLocaleString()}</small></li>`
    ).join('') %>
  </ul>
  <!-- end ticket list -->
</section>

<form id="add-per-to-ticket" action="/flights/<%= flight._id %>/tickets" method="POST">
  <select name="ticketId">
    <!-- Emit an option for each performer -->
    <%- tickets.map(t => 
      `<option value="${t._id}">${t.name}</option>`
    ).join('') %>
  </select>
  <button type="submit">Add to Ticket</button>
</form>

<br><br><h2>Destinations: </h2>
<form id="add-review-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
  <select name="airport">
    <option value="LAX">LAX</option>
      <option value="SFO">SFO</option>
      <option value="DEN">DEN</option>
      <option value="SAN">SAN</option>
      <option value="AUS">AUS</option>
      <option value="TPA">TPA</option>
      <option value="CMH">CMH</option>
      <option value="BWI">BWI</option>
      <option value="ORD">ORD</option>
      <option value="MDW">MDW</option>
      <option value="DAL">DAL</option>
      <option value="ATL">ATL</option>
      <option value="DFW">DFW</option>
      <option value="SEA">SEA</option>
      <option value="LAS">LAS</option>
      <option value="EWR">EWR</option>
      <option value="PHX">PHX</option>
      <option value="IAH">IAH</option>
      <option value="MIA">MIA</option>
      <option value="BOS">BOS</option>
      <option value="DCA">DCA</option>
      <option value="LGA">LGA</option>
      <option value="JFK" selected>JFK</option>
  </select>
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% flight.destinations.forEach(function(d) { %>
        <% total += d.arrival %>
        <tr>
          <td><%= d.createdAt.toLocaleDateString() %></td>
          <td><%= d.arrival %></td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="2"></td>
        <td>
          <strong>
            <%= (total / flight.destinations.length).toFixed(1) %>
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>
